receivers:
  otlp:
    protocols:
      grpc:
      http:

# THÊM PHẦN NÀY: Giúp biến các thuộc tính từ App thành nhãn của Loki
processors:
  resource:
    attributes:
      - key: service.name
        action: upsert
        value: "demo-service"

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889"
  otlp/tempo:
    endpoint: "tempo:4317"
    tls:
      insecure: true
  loki:
    endpoint: "http://loki:3100/loki/api/v1/push"
    # Cấu hình này cực kỳ quan trọng để Loki tự tạo nhãn từ Resource Attributes
    default_labels_enabled:
      exporter: true
      job: true
  debug:
    verbosity: detailed

service:
  pipelines:
    metrics:
      receivers: [otlp]
      exporters: [prometheus]
    traces:
      receivers: [otlp]
      processors: [resource] # Thêm processor
      exporters: [otlp/tempo]
    logs:
      receivers: [otlp]
      processors: [resource] # Thêm processor
      exporters: [loki, debug]