receivers:
  otlp:
    protocols:
      http:
      grpc:

processors:
  batch:

  resource:
    attributes:
      - action: insert
        key: loki.resource.labels
        value: service.name

exporters:
  # ===== TRACE → TEMPO =====
  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true

  # ===== LOG → LOKI =====
  loki:
    endpoint: http://loki:3100/loki/api/v1/push
    default_labels_enabled:
      service_name: true
      severity: true

  # ===== METRICS → PROMETHEUS =====
  prometheus:
    endpoint: "0.0.0.0:8889"

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo]

    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]

    logs:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [loki]
